extends ../layouts/default

block content
	.container: .jumbotron
		img(src='/images/logo.png', width='277').img-responsive.center-block
		h3 Turning Point Content Management System
		hr
		if user && user.canAccessKeystone
			p
				a(href='/keystone').btn.btn-lg.btn-primary Open the Admin UI
		else
			p If you have an account login below
			p
				a(href='/keystone/signin', style='margin-right: 10px').btn.btn-lg.btn-primary Sign in
				|  to use the Admin UI.
