
extends ../layouts/default

block intro
	.container
		h2 #{youth.anonymized}
		h4 Enrolled #{displayDate}
		h4 Last Updated #{displayLastUpdated}

	script.
		var foo = "bar"
		// this is where the high charts go...
		// holla


